</br>
<div class="container">
    <div class="row text-center">
        <div class="col justify-content-center"> 
            <%= check_avatar(@user) %>
        </div>
    </div>

    <div class="row text-center">
        <div class="col mb-4"> 
            <%= name(@user.id) %>
        </div>
    </div>

    <% if user_signed_in? && @user.id == current_user.id%>
        <div class="row justify-content-start">
            <div class="col">   
                <%= link_to 'Edit Personal Information', edit_user_registration_path(current_user), class:"btn btn-secondary mb-3" %>
            </div>
        </div>
    <% end %>

    <div class="row">       
        <% @user.posts.each do |post| %>
            <div class="col-md-auto">
                <%= link_to (image_tag post.image, class:"img mb-4"), post %> 
            </div>
        <% end %>       
    </div>
</div>