<br>
<br>
<%= render "form", support: @support %>

<br>

<div>
  <%= link_to "Show this support", @support, class:"nounderline"  %> |
  <%= link_to "Back to supports", supports_path, class:"nounderline" %>
</div>
